body {
  background-image: url('./img/landscape-morning-leaf.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-color: #233326;
}
h1 {
  margin: 20px;
  text-align: center;
  color: white
}
main {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
}
form {
  margin: 20px;
}
.input
.form-control {
  background-color: white;
}
.btn-primary {
  background-color: forestgreen;
  border-color: white;
}
.btn-primary:hover {
  border-color: white;
}

.card {
  margin: 20px;
  background-color: #a1d4e5;
  text-align: center;
}
#forecast {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
#forecast .card {
  align-items: center;
  margin: 5px;
}
#forecast img {
  width: 7rem;
}
#temperature-container {
  display: flex;
}
.badge {
  margin: 0 30px;
}
footer {
  text-align: center;
  color: white;
}